version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    # 同样建议加上分组，防止 Python 依赖更新刷屏
    groups:
      python-dependencies:
        patterns:
          - "*"